<div
  data-aos="fade-up"
  class="w-full group cursor-pointer"
  (click)="openDetailModal()"
>
  <div
    class="relative h-full w-full text-gray-700 dark:text-gray-300 after:group-hover:opacity-100 after:opacity-0 after:origin-bottom after:transition-all after:duration-500 after:content-[''] after:inset-0 after:absolute after:top-0 after:left-0 after:bg-gray-950/70 after:backdrop-blur-sm after:will-change-['filter'] after:z-20 p-4 rounded-md overflow-hidden bg-slate-900"
  >
    <div class="relative overflow-hidden">
      <div class="relative">
        <img
          [hidden]="loading"
          (load)="onLoad()"
          [src]="
            '../../../../../../assets/featured/' + project.thumbnail_gif_large
          "
          [alt]="project.title"
          class="w-full aspect-auto group-hover:scale-110 origin-center transition-all duration-500"
        />
        <div class="absolute top-0 right-0 w-2 h-full bg-slate-900"></div>
        <div
          [ngClass]="loading ? 'block' : 'hidden'"
          class="w-full h-40 md:h-48 lg:h-56 xl:h-64 bg-gray-400 dark:bg-slate-700 animate-pulse"
        ></div>
        <div
          class="absolute z-30 top-0 right-0 translate-x-1 w-64 md:w-44 lg:w-64 aspect-auto group-hover:block hidden"
        >
          <img
            [hidden]="loading"
            (load)="onLoad()"
            [src]="
              '../../../../../../assets/featured/' + project.thumbnail_gif_small
            "
            [alt]="project.title"
            class="w-full aspect-auto"
          />
        </div>
        <p
          class="font-semibold text-xl bg-slate-900 text-white p-3 text-center"
        >
          {{ project.title }}
        </p>
      </div>
      <div
        class="group-hover:opacity-100 hidden sm:block opacity-0 px-10 md:px-5 lg:px-10 pb-5 absolute z-30 bottom-0 left-0 w-full text-gray-100"
      >
        <p class="line-clamp-3">{{ project.description }}</p>
        <div class="flex items-center justify-end mt-5">
          <span
            class="rounded-full inline-block text-sm px-5 py-2 bg-gradient-to-r from-yellow-500 to-orange-500 text-white dark:from-blue-500 dark:to-violet-500 font-semibold dark:hover:border-gray-100 hover:border-orange-600 border dark:border-blue-400 border-orange-400"
          >
            View project
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
