<div class="md:mx-5 mt-10 lg:mt-0 mb-20">
  <div data-aos="fade-right">
    <span
      class="w-10 h-2 bg-blue-500 dark:bg-yellow-500 rounded-full block"
    ></span>
    <p class="font-bold text-gray-700 text-xl dark:text-gray-200 mt-1">
      See my work experiences.
    </p>
  </div>
  <div class="grid grid-cols-12 mt-6">
    <div
      *ngFor="let experience of experiences"
      class="col-span-12 lg:col-span-10"
    >
      <div data-aos="fade-right" class="flex items-center justify-start my-5">
        <!-- Start decorative -->
        <div
          class="flex items-center justify-center bg-slate-100 dark:bg-gray-800 border-4 border-blue-500 dark:border-yellow-500 h-8 aspect-square rounded-full"
        >
          <span
            class="block h-3 aspect-square rounded-full bg-blue-500 dark:bg-yellow-500"
          ></span>
        </div>
        <span
          class="bg-blue-500 dark:bg-yellow-500 h-1 w-10 rounded-full mr-2 -translate-x-1"
        ></span>
        <!-- End decorative -->
        <p class="text-gray-800 text-lg font-semibold dark:text-gray-200">
          <span>
            {{ experience.start_date | date : "MMMM, yyyy" }}
          </span>
          <span class="font-bold"> - </span>
          <span>
            {{
              experience.end_date === "Present"
                ? "Present"
                : (experience.end_date | date : "MMMM, yyyy")
            }}
          </span>
          <span> • </span>
          <span>{{ experience.duration }}</span>
        </p>
      </div>
      <div
        data-aos="fade-up"
        class="p-4 mb-5 ml-10 border shadow-md dark:shadow-none border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gradient-to-b dark:from-blue-600/10"
      >
        <p class="text-gray-800 dark:text-gray-200 font-semibold text-lg">
          {{ experience.title }}
        </p>
        <p
          class="text-gray-700 dark:text-gray-300 italic underline underline-offset-2"
        >
          {{ experience.company }}
        </p>
        <p class="text-gray-700 dark:text-gray-300">
          {{ experience.location }}
        </p>

        <p
          (click)="experience_description.classList.add('line-clamp-2')"
          #experience_description
          class="text-gray-700 dark:text-gray-300 mt-5 leading-7 line-clamp-2"
        >
          {{ experience.description }}
        </p>
        <button
          (click)="experience_description.classList.remove('line-clamp-2')"
          class="text-blue-500 dark:text-yellow-500 mt-1"
          *ngIf="
            experience_description.offsetHeight <
            experience_description.scrollHeight
          "
        >
          Read more
        </button>
        <div
          class="mt-5 p-3 bg-blue-600/20 rounded-lg relative shadow-md dark:bg-blue-600/30"
        >
          <p class="font-semibold text-gray-800 dark:text-gray-100">
            Key Achievement
          </p>
          <img
            src="../../../../../assets/images/pin.svg"
            alt="Pin icon"
            class="h-10 w-10 pointer-events-none absolute -top-3 -right-1 dark:invert dark:brightness-75"
          />
          <img
            src="../../../../../assets/images/pin.svg"
            alt="Pin icon"
            class="h-10 w-10 pointer-events-none absolute -top-3 -right-1 dark:invert dark:brightness-75 rotate-[15deg] opacity-30 origin-bottom-left"
          />
          <p class="text-gray-700 dark:text-gray-200 mt-2 leading-7">
            {{ experience.key_achievement }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
