<div id="contact" class="scroll-mt-14 bg-slate-100 dark:bg-gray-800">
  <div class="max-w-screen-2xl mx-auto px-4 pt-5 pb-10 md:px-6 h-auto lg:px-10">
    <div class="mb-10 mt-5 py-1">
      <div data-aos="fade-right">
        <p
          class="font-bold uppercase tracking-widest text-sm text-blue-600 dark:text-yellow-500"
        >
          Contact me
        </p>
        <p
          class="font-bold text-gray-700 text-2xl mt-1 dark:text-gray-200 md:text-3xl"
        >
          Hey? Like what you're seeing? Hit me up!
        </p>
        <p class="mt-2 text-gray-700 leading-7 dark:text-gray-300 max-w-2xl">
          Whether you want to discuss potential opportunities, or simply want to
          say hello, feel free to reach out. I'm eager to hear from you and
          explore how we can work together to bring your ideas to life.
        </p>
      </div>
      <div class="grid grid-cols-12">
        <form
          data-aos="fade-up"
          class="mt-2 col-span-12 md:col-span-6"
          [formGroup]="contactForm"
          (ngSubmit)="sendMessage()"
        >
          <div class="relative my-10">
            <input
              class="py-3 px-4 block w-full peer outline-none text-base border-2 rounded-md placeholder-transparent text-gray-700 dark:text-gray-300"
              autocomplete="off"
              type="text"
              id="name"
              formControlName="name"
              placeholder="Name"
              [ngClass]="
                contactForm.get('name')?.getError('required') && formSubmited
                  ? 'border-red-300 hover:border-red-300 focus:border-red-300 bg-red-50 dark:border-red-500 dark:hover:border-red-500 dark:focus:border-red-500 dark:bg-slate-900'
                  : 'bg-white border-blue-200 hover:border-blue-300 focus:border-blue-500 focus:ring-blue-500 dark:hover:border-gray-600 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-300 dark:focus:border-yellow-500 dark:focus:ring-yellow-500'
              "
            />
            <label
              for="name"
              class="peer-autofill:-top-4 peer-autofill:left-0 text-gray-800 font-semibold absolute -top-4 left-0 -translate-y-1/2 text-sm peer-placeholder-shown:top-1/2 peer-placeholder-shown:left-4 peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-placeholder-shown:font-normal peer-placeholder-shown:text-base transition-all peer-focus:-top-4 peer-focus:left-0 pointer-events-none peer-focus:font-semibold peer-focus:text-gray-800 peer-focus:text-sm dark:peer-focus:text-gray-200 dark:text-gray-200"
              >Name</label
            >
            <span
              class="absolute -top-4 right-0 -translate-y-1/2 text-xs font-semibold text-red-500"
              *ngIf="
                contactForm.get('name')?.getError('required') && formSubmited
              "
              >Required*</span
            >
          </div>
          <div class="relative my-10">
            <input
              class="py-3 px-4 block w-full peer outline-none text-base border-2 rounded-md placeholder-transparent text-gray-700 dark:text-gray-300"
              autocomplete="off"
              type="text"
              id="email"
              formControlName="email"
              placeholder="Email Address"
              [ngClass]="
                (contactForm.get('email')?.getError('required') ||
                  contactForm.get('email')?.getError('email')) &&
                formSubmited
                  ? 'border-red-300 hover:border-red-300 focus:border-red-300 bg-red-50 dark:border-red-500 dark:hover:border-red-500 dark:focus:border-red-500 dark:bg-slate-900'
                  : 'bg-white border-blue-200 hover:border-blue-300 focus:border-blue-500 focus:ring-blue-500 dark:hover:border-gray-600 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-300 dark:focus:border-yellow-500 dark:focus:ring-yellow-500'
              "
            />
            <label
              for="email"
              class="peer-autofill:-top-4 peer-autofill:left-0 text-gray-800 font-semibold absolute -top-4 left-0 -translate-y-1/2 text-sm peer-placeholder-shown:top-1/2 peer-placeholder-shown:left-4 peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-placeholder-shown:font-normal peer-placeholder-shown:text-base transition-all peer-focus:-top-4 peer-focus:left-0 pointer-events-none peer-focus:font-semibold peer-focus:text-gray-800 peer-focus:text-sm dark:peer-focus:text-gray-200 dark:text-gray-200"
              >Email Address</label
            >
            <span
              class="absolute -top-4 right-0 -translate-y-1/2 text-xs font-semibold text-red-500"
              *ngIf="
                contactForm.get('email')?.getError('required') && formSubmited
              "
              >Required*</span
            >
            <span
              class="absolute -top-4 right-0 -translate-y-1/2 text-xs font-semibold text-red-500"
              *ngIf="
                contactForm.get('email')?.getError('email') &&
                !contactForm.get('email')?.getError('required') &&
                formSubmited
              "
              >Please enter a valid email.</span
            >
          </div>
          <div class="relative my-10">
            <textarea
              id="message"
              formControlName="message"
              placeholder="Message"
              class="min-h-[100px] py-3 px-4 block w-full peer outline-none text-base border-2 rounded-md placeholder-transparent text-gray-700 dark:text-gray-300"
              rows="8"
              [ngClass]="
                contactForm.get('message')?.getError('required') && formSubmited
                  ? 'border-red-300 hover:border-red-300 focus:border-red-300 bg-red-50 dark:border-red-500 dark:hover:border-red-500 dark:focus:border-red-500 dark:bg-slate-900'
                  : 'bg-white border-blue-200 hover:border-blue-300 focus:border-blue-500 focus:ring-blue-500 dark:hover:border-gray-600 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-300 dark:focus:border-yellow-500 dark:focus:ring-yellow-500'
              "
            ></textarea>
            <label
              for="message"
              class="peer-autofill:-top-4 peer-autofill:left-0 text-gray-800 font-semibold absolute -top-4 left-0 -translate-y-1/2 text-sm peer-placeholder-shown:top-6 peer-placeholder-shown:left-4 peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-placeholder-shown:font-normal peer-placeholder-shown:text-base transition-all peer-focus:-top-4 peer-focus:left-0 pointer-events-none peer-focus:font-semibold peer-focus:text-gray-800 peer-focus:text-sm dark:peer-focus:text-gray-200 dark:text-gray-200"
              >Message</label
            >
            <span
              class="absolute -top-4 right-0 -translate-y-1/2 text-xs font-semibold text-red-500"
              *ngIf="
                contactForm.get('message')?.getError('required') && formSubmited
              "
              >Required*</span
            >
          </div>
          <button
            type="submit"
            class="md:ml-0 flex items-center justify-center ml-auto group relative bg-blue-100 dark:bg-yellow-200 dark:bg-opacity-20 overflow-hidden rounded-lg shadow-sm"
          >
            <span
              [ngClass]="sendingMessage ? 'w-full' : 'w-12'"
              class="bg-blue-600 dark:bg-yellow-500 absolute h-full -z-0 top-0 left-0 group-hover:w-full transition-all"
            ></span>
            <span
              class="bg-blue-600 dark:bg-yellow-500 p-3 rounded-tl-lg rounded-bl-lg z-0 flex items-center justify-center"
            >
              <img
                *ngIf="!sendingMessage"
                src="../../../../../assets/images/send.svg"
                alt="send message"
                class="h-6 w-6 invert dark:invert-0 pointer-events-none"
              />
              <span
                *ngIf="sendingMessage"
                class="animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-yellow-500 dark:text-blue-600 rounded-full"
                role="status"
                aria-label="sending"
              >
                <span class="sr-only">...</span>
              </span>
            </span>
            <span
              [ngClass]="
                sendingMessage
                  ? 'dark:text-gray-950 text-white'
                  : 'text-gray-600 dark:text-gray-200'
              "
              class="text-start w-32 pl-2 pr-4 py-3 bg-transparent rounded-tr-lg rounded-br-lg z-0 group-hover:text-white transition-all dark:group-hover:text-gray-950"
              >{{ sendingMessage ? "Sending..." : "Send message" }}</span
            >
          </button>
        </form>
        <div
          data-aos="fade-up"
          class="mt-12 col-span-12 md:col-span-5 md:col-start-8 h-min p-5 rounded-xl dark:bg-gradient-to-tr dark:bg-blue-600/10 shadow-sm dark:shadow-none relative bg-white"
        >
          <p class="font-semibold text-gray-600 text-lg dark:text-gray-300">
            You can also contact me through my social account.
          </p>
          <div
            class="flex items-center justify-start mt-3 text-blue-600 dark:text-yellow-500"
          >
            <img
              class="w-12 h-12 pointer-events-none"
              src="../../../../../assets/images/linkedin.svg"
              alt="linkedin profile"
            />
            <a
              class="underline underline-offset-4 text-lg py-3 pr-4 pl-3 truncate"
              href="https://www.linkedin.com/in/reymond-arcayna-43819826b"
              target="_blank"
              >linkedin.com/in/reymond-arcayna</a
            >
          </div>
          <div class="relative my-10">
            <span
              class="bg-[radial-gradient(closest-side,#7c3aed,#2563eb,transparent)] dark:bg-[radial-gradient(closest-side,#f97316,#ca8a04,transparent)] h-1 absolute w-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-0"
            ></span>
            <p class="text-center relative z-0 bg-transparent">
              <span
                class="font-bold text-blue-600 text-lg p-3 rounded-full bg-white dark:bg-[#202f49] dark:text-yellow-600"
              >
                OR
              </span>
            </p>
          </div>
          <p class="font-semibold text-gray-600 text-lg dark:text-gray-300">
            Directly message me through email.
          </p>
          <div
            class="flex items-center justify-between bg-blue-50 dark:bg-slate-900 border-2 border-blue-200 dark:border-gray-600 overflow-hidden rounded-md text-gray-600 dark:text-gray-400 tracking-wider mt-3"
          >
            <a
              href="mailto:i.am.arcayna@gmail.com"
              id="email_address_copy"
              class="py-3 px-4 truncate"
              >i.am.arcayna@gmail.com</a
            >
            <button
              (click)="copyEmail()"
              class="flex-shrink-0 bg-blue-600 dark:bg-yellow-500 py-3 px-4 hover:bg-opacity-90 dark:hover:bg-opacity-95"
            >
              <img
                src="../../../../../assets/images/copy.svg"
                alt="copy email"
                class="h-6 w-6 invert dark:invert-0 pointer-events-none"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
