<div
  class="flex items-center justify-end gap-5 pr-5 border-r-2 dark:border-gray-500 border-gray-300"
>
  <button
    class="text-gray-400 dark:text-gray-500 cursor-pointer font-semibold dark:hover:text-gray-400 hover:text-gray-500 group px-2"
    (click)="scrollIntoView(menu.url)"
    *ngFor="let menu of navigationMenus"
  >
    <span
      *ngIf="activeSection | async as active"
      [ngClass]="{
        'dark:text-gray-200 text-gray-950': active === menu.url
      }"
      >{{ menu.menu }}</span
    >
    <span
      *ngIf="activeSection | async as active"
      [ngClass]="active === menu.url ? 'w-full' : 'w-0'"
      class="border-b-blue-600 block dark:border-b-yellow-500 border-b-4 group-hover:w-full transition-all duration-200 rounded-full"
    ></span>
  </button>
</div>
