<div [ngClass]="fixedNavbar" class="fixed top-0 left-0 w-full bg-white z-40">
  <div class="max-w-5xl mx-auto flex justify-between items-center px-4 py-2">
    <div class="flex items-center justify-start flex-grow">
      <button
        type="button"
        (click)="toggleDrawer()"
        class="p-2 hover:bg-gray-100 rounded-full text-gray-400 hover:text-gray-500 md:hidden dark:hover:bg-gray-800"
      >
        <!-- hamburger-menu -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>
      <div class="w-full flex items-center justify-center md:justify-start">
        <app-logo></app-logo>
      </div>
    </div>
    <div class="items-center justify-end hidden md:flex">
      <app-navigations></app-navigations>
    </div>
    <app-theme-selector></app-theme-selector>
  </div>
</div>
