<div class="md:mx-5 mt-10">
  <span
    class="w-10 h-2 bg-blue-500 dark:bg-yellow-500 rounded-full block"
  ></span>
  <p class="font-bold text-gray-700 text-xl dark:text-gray-200 mt-1">
    See my certificates.
  </p>
  <div
    class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-5"
  >
    <div
      class="border border-gray-300 dark:border-gray-700 rounded-lg relative overflow-hidden dark:bg-gradient-to-b dark:from-blue-600/10 shadow-md dark:shadow-none"
      *ngFor="let certificate of certificates"
    >
      <div
        class="flex items-center justify-center py-2 bg-blue-700 absolute top-0 right-0 rotate-45 translate-y-5 translate-x-10 w-36"
      >
        <img
          [src]="'../../../../../../assets/images/' + certificate.logo"
          [alt]="certificate.platform"
          class="h-auto w-14"
        />
      </div>
      <div class="p-4 relative">
        <p
          class="text-gray-800 dark:text-gray-200 font-semibold text-center px-12 line-clamp-2 my-2 md:my-0"
        >
          {{ certificate.title }}
        </p>
        <a
          class="px-4 py-2 rounded-full block text-center border-2 border-gray-400 dark:border-gray-600 mt-5 text-gray-600 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-300 hover:border-gray-600 dark:hover:border-gray-400"
          [href]="certificate.link"
          target="_blank"
          >View Certificate</a
        >
      </div>
    </div>
  </div>
</div>
