<div
  class="md:flex-row md:justify-between md:py-5 md:flex md:items-start mb-10 shadow-md md:shadow-none rounded-2xl md:rounded-none overflow-hidden"
  [ngClass]="project.id % 2 === 0 ? 'md:flex-row-reverse' : ''"
>
  <div class="flex-1 h-72 bg-gray-100 dark:bg-gray-600"></div>
  <div
    class="p-5 flex-1 md:p-0"
    [ngClass]="project.id % 2 === 0 ? 'md:pr-8' : 'md:pl-8'"
  >
    <div class="flex items-center gap-3 flex-wrap">
      <div
        *ngFor="let stack of project.technologies"
        class="rounded-md py-1 px-4 border dark:border-yellow-600 border-blue-400 bg-blue-500 dark:bg-yellow-500 text-sm text-blue-500 dark:text-yellow-500 bg-opacity-20 dark:bg-opacity-10"
      >
        {{ stack }}
      </div>
    </div>
    <p class="font-bold text-lg tracking-wider mt-2 dark:text-gray-200">
      {{ project.title }}
    </p>
    <p class="dark:text-gray-300 leading-8 text-justify">
      {{ project.description }}
    </p>
    <div
      class="flex items-center gap-4 justify-between sm:justify-start mt-8 flex-wrap"
    >
      <a
        [href]="project.github_link"
        target="_blank"
        class="px-4 py-2 border dark:border-gray-700 hover:border-blue-500 dark:hover:border-yellow-600 rounded-lg flex items-center text-gray-700 dark:text-gray-200 gap-2 justify-center cursor-pointer transition-colors"
      >
        <img
          src="../../../../../../assets/images/github.svg"
          alt="github"
          class="h-6 w-6 dark:invert"
        />
        View Code
      </a>
      <a
        [href]="project.demo_link"
        target="_blank"
        class="px-4 py-2 border dark:border-yellow-600 dark:bg-yellow-600 bg-blue-500 border-blue-500 rounded-lg flex items-center text-white dark:text-gray-50 gap-2 justify-center cursor-pointer transition-colors"
      >
        <img
          src="../../../../../../assets/images/open-link.svg"
          alt="live demo"
          class="h-6 w-6 invert"
        />Live Demo
      </a>
    </div>
  </div>
</div>
