<div
  data-aos="fade-up"
  class="md:justify-between md:py-5 md:flex md:items-start mb-10 md:mb-36 rounded-2xl md:rounded-none overflow-hidden"
  [ngClass]="project.id % 2 === 0 ? 'md:flex-row-reverse' : 'md:flex-row'"
>
  <div class="flex-1 aspect-video">
    <img
      [src]="'../../../../../../assets/images/' + project.thumbnail_desktop"
      [alt]="project.thumbnail_desktop"
      class="w-full aspect-video"
    />
  </div>
  <div
    class="flex-1 py-5 md:py-0"
    [ngClass]="project.id % 2 === 0 ? 'md:pr-8' : 'md:pl-8'"
  >
    <div class="flex items-center gap-3 flex-wrap">
      <div
        *ngFor="let stack of project.technologies"
        class="rounded-md py-1 px-4 border border-yellow-500 dark:border-blue-600 dark:bg-blue-600 bg-yellow-400 text-sm dark:text-blue-500 text-yellow-600 bg-opacity-10 dark:bg-opacity-10"
      >
        {{ stack }}
      </div>
    </div>
    <p
      class="font-bold text-lg tracking-wider mt-2 dark:text-gray-200 text-gray-700"
    >
      {{ project.title }}
    </p>
    <p
      (click)="project_description.classList.add('line-clamp-3')"
      #project_description
      class="dark:text-gray-300 text-gray-700 leading-7 text-left line-clamp-3 mt-2 md:line-clamp-none"
    >
      {{ project.description }}
    </p>
    <button
      (click)="project_description.classList.remove('line-clamp-3')"
      class="text-blue-500 dark:text-yellow-500 mt-1"
      *ngIf="
        project_description.offsetHeight < project_description.scrollHeight
      "
    >
      Read more
    </button>

    <div
      class="flex items-center gap-4 justify-between sm:justify-start mt-8 flex-wrap"
    >
      <a
        [href]="project.github_link"
        target="_blank"
        class="px-4 py-2 border dark:border-gray-700 hover:border-blue-500 dark:hover:border-yellow-500 rounded-lg flex items-center text-gray-700 dark:text-gray-200 gap-2 justify-center cursor-pointer transition-colors"
      >
        <img
          src="../../../../../../assets/images/github.svg"
          alt="github"
          class="h-6 w-6 dark:invert pointer-events-none"
        />
        View Code
      </a>
      <a
        [href]="project.demo_link"
        target="_blank"
        class="hover:bg-opacity-90 dark:hover:bg-opacity-95 px-4 py-2 border dark:border-yellow-500 dark:bg-yellow-500 bg-blue-600 border-blue-600 rounded-lg flex items-center text-white dark:text-gray-950 gap-2 justify-center cursor-pointer transition-colors"
      >
        <img
          src="../../../../../../assets/images/open-link.svg"
          alt="live demo"
          class="h-6 w-6 invert dark:invert-0"
        />Live Demo
      </a>
    </div>
  </div>
</div>
