<div id="about" class="scroll-mt-14 mt-14">
  <div
    class="max-w-[1440px] mx-auto flex flex-col sm:flex-row justify-center sm:justify-between sm:items-center items-center px-4 pt-8 pb-14 md:pt-0 md:pb-0 md:px-6 md:h-[90vh] md:max-h-[800px] h-auto"
  >
    <div class="flex-1 flex items-center justify-center">
      <img
        src="../../../../../assets/images/html.svg"
        alt="aw"
        class="h-52 w-52"
      />
    </div>
    <div class="flex-1 flex items-center justify-center">
      <p class="text-white text-3xl font-bold">&#8220;We are Electric&#8221;</p>
    </div>
  </div>
</div>
