<div id="skills" class="scroll-mt-14 bg-slate-100 dark:bg-gray-800">
  <div class="max-w-5xl mx-auto px-4 pt-5 pb-16 md:px-6 h-auto">
    <div class="mb-10 mt-5 py-1">
      <p
        class="font-bold uppercase tracking-widest text-sm text-blue-500 dark:text-yellow-500"
      >
        My Skills
      </p>
      <p class="font-bold text-gray-700 text-2xl mt-1 dark:text-gray-200">
        These are some of my skills that might interest you.
      </p>
      <p class="mt-2 text-gray-700 leading-7 dark:text-gray-300">
        The following are the skills that I have learned throughout my career.
        Some of these are self-taught skills and some I learned while working
        with great people. Explore what skills can add value to your projects
        and goals.
      </p>
    </div>
    <div class="min-h-[568.5px]">
      <app-skill-container></app-skill-container>
    </div>
  </div>
</div>
