<div
  (click)="ping()"
  [ngClass]="pingClass"
  class="bg-transparent aspect-square drop-shadow-md hover:drop-shadow-lg dark:drop-shadow-none dark:hover:scale-100 dark:hover:bg-gradient-to-r dark:hover:from-orange-400 dark:hover:to-yellow-500 p-[1px] rounded-xl cursor-pointer relative transition-all"
>
  <div
    class="bg-white dark:bg-gray-900 px-7 py-3 rounded-xl flex items-center flex-col justify-center h-full"
  >
    <img
      [src]="'../../../../../../assets/images/' + icon"
      [alt]="title"
      class="h-full aspect-square pointer-events-none"
      [ngClass]="icon === 'github.svg' ? 'dark:invert' : ''"
    />
    <p
      class="font-semibold dark:text-gray-300 text-gray-600 text-center mt-2 text-sm"
    >
      {{ title }}
    </p>
  </div>
</div>
