<div id="projects" class="scroll-mt-14">
  <div class="max-w-5xl mx-auto px-4 pt-5 pb-6 md:px-6 h-auto overflow-hidden">
    <div class="mb-10 mt-5 py-1">
      <p
        class="font-bold uppercase tracking-widest text-sm text-blue-500 dark:text-yellow-500"
      >
        My Projects
      </p>
      <p class="font-bold text-gray-700 text-2xl mt-1 dark:text-gray-200">
        View the projects that showcases my skills and expertise.
      </p>
      <p class="mt-2 text-gray-700 leading-7 dark:text-gray-300 max-w-2xl">
        These are the selection of my projects, each highlighting specific
        skills and capabilities. These real-world examples demonstrate how my
        skills have been put into action to create innovative solutions and
        deliver outstanding results.
      </p>
    </div>
    <div>
      <app-project-card
        [project]="project"
        *ngFor="let project of projects"
      ></app-project-card>
    </div>
  </div>
</div>
