<div
  data-aos="fade-up"
  class="p-2 rounded-lg bg-white dark:bg-gray-900 drop-shadow-sm"
>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
    <button
      type="button"
      class="rounded-lg py-3 px-7 sm:px-3 transition-colors"
      *ngFor="let classification of classifications"
      (click)="filter(classification)"
      [ngClass]="
        filterMode === classification
          ? 'bg-blue-600 dark:bg-yellow-500 dark:text-gray-800 text-white font-bold'
          : 'text-gray-500 dark:text-gray-400 hover:bg-slate-100 dark:hover:bg-slate-800 dark:hover:text-gray-200 hover:text-gray-600 font-semibold'
      "
    >
      {{ classification }}
    </button>
  </div>
</div>
<div
  data-aos="fade-up"
  class="grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 grid gap-7 pt-10 transition-all duration-1000"
>
  <app-skill-card
    *ngFor="let skill of skills"
    [icon]="skill.icon"
    [title]="skill.name"
  ></app-skill-card>
</div>
