<div class="p-2 rounded-lg bg-white dark:bg-gray-900 drop-shadow-sm">
  <div class="flex items-center justify-evenly gap-2 flex-wrap">
    <button
      type="button"
      class="flex-1 rounded-lg py-3 px-7 sm:px-3 transition-colors"
      *ngFor="let classification of classifications"
      (click)="filter(classification)"
      [ngClass]="
        filterMode === classification
          ? 'bg-blue-500 dark:bg-yellow-600 dark:text-gray-50 text-gray-100 font-bold'
          : 'text-gray-500 dark:text-gray-400 hover:bg-slate-100 dark:hover:bg-slate-800 dark:hover:text-gray-200 hover:text-gray-600 font-semibold'
      "
    >
      {{ classification }}
    </button>
  </div>
</div>
<div
  class="flex items-center justify-evenly sm:justify-start gap-7 flex-wrap pt-10"
>
  <app-skill-card
    *ngFor="let skill of skills"
    [title]="skill.name"
    [icon]="skill.icon"
  ></app-skill-card>
</div>
