<div id="about" class="scroll-mt-14">
  <div class="max-w-screen-2xl mx-auto h-auto pt-5 pb-6 px-4 md:px-6 lg:px-10">
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="mb-10 mt-5 py-1 flex-auto basis-3/5">
        <p
          class="font-bold uppercase tracking-widest text-sm text-blue-500 dark:text-yellow-500"
        >
          About me
        </p>
        <p
          class="font-bold text-gray-700 text-2xl mt-1 dark:text-gray-200 md:text-3xl"
        >
          Wanna know something interesting about me?
        </p>
        <p class="mt-2 text-gray-700 leading-8 dark:text-gray-300">
          {{ aboutMe.about_first }}
        </p>
        <p class="mt-4 text-gray-700 leading-8 dark:text-gray-300">
          {{ aboutMe.about_second }}
        </p>
      </div>
      <div class="flex items-center justify-center flex-auto basis-2/5">
        <img
          src="../../../../../assets/images/hero-image.svg"
          alt="profile picture"
          class="h-52 w-52 pointer-events-none"
        />
      </div>
    </div>
    <app-experience [experiences]="aboutMe.experiences"></app-experience>
    <app-certificates [certificates]="aboutMe.certificates"></app-certificates>
  </div>
</div>
