<div id="about" class="scroll-mt-14">
  <div
    class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-center h-auto px-4 py-20"
  >
    <div class="flex-1 flex items-center justify-center">
      <div class="h-52 w-52 rounded-full bg-gray-900"></div>
    </div>
    <div class="flex-1">
      <p class="text-gray-200 self-start leading-8 text-justify text-lg">
        I'm Reymond, I'm a self-taught developer. I started my career as a
        Electrical Design Engineer. During that period, I develop an interest in
        creating software. After 3 years of being a Design Enginner. I decide to
        take the leap and pursue my passion for software. Now, I'm a pasionate
        Full-stack Web Developer. I've gain new skills working in the industry
        and also by studying in my free time. I believe that everything can be
        learned, as long as you enjoy what you are doing.
      </p>
      <div class="flex items-center justify-center">
        <img
          src="../../../../../assets/images/github.svg"
          alt="Github"
          class="w-10 h-10 dark:invert"
        />
        <img
          src="../../../../../assets/images/linkedin.svg"
          alt="Linkedin"
          class="w-10 h-10"
        />
      </div>
    </div>
  </div>
  <div
    class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-center h-auto px-4 py-20"
  >
    <div class="flex-1 flex items-center justify-center">
      <div class="h-52 w-52 rounded-full bg-gray-900"></div>
    </div>
    <div class="flex-1">
      <p class="text-gray-200 self-start leading-8 text-justify text-lg">
        I'm Reymond, I'm a self-taught developer. I started my career as a
        Electrical Design Engineer. During that period, I develop an interest in
        creating software. After 3 years of being a Design Enginner. I decide to
        take the leap and pursue my passion for software. Now, I'm a pasionate
        Full-stack Web Developer. I've gain new skills working in the industry
        and also by studying in my free time. I believe that everything can be
        learned, as long as you enjoy what you are doing.
      </p>
      <div class="flex items-center justify-center">
        <img
          src="../../../../../assets/images/github.svg"
          alt="Github"
          class="w-10 h-10 dark:invert"
        />
        <img
          src="../../../../../assets/images/linkedin.svg"
          alt="Linkedin"
          class="w-10 h-10"
        />
      </div>
    </div>
  </div>
  <div
    class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-center h-auto px-4 py-20"
  >
    <div class="flex-1 flex items-center justify-center">
      <div class="h-52 w-52 rounded-full bg-gray-900"></div>
    </div>
    <div class="flex-1">
      <p class="text-gray-200 self-start leading-8 text-justify text-lg">
        I'm Reymond, I'm a self-taught developer. I started my career as a
        Electrical Design Engineer. During that period, I develop an interest in
        creating software. After 3 years of being a Design Enginner. I decide to
        take the leap and pursue my passion for software. Now, I'm a pasionate
        Full-stack Web Developer. I've gain new skills working in the industry
        and also by studying in my free time. I believe that everything can be
        learned, as long as you enjoy what you are doing.
      </p>
      <div class="flex items-center justify-center">
        <img
          src="../../../../../assets/images/github.svg"
          alt="Github"
          class="w-10 h-10 dark:invert"
        />
        <img
          src="../../../../../assets/images/linkedin.svg"
          alt="Linkedin"
          class="w-10 h-10"
        />
      </div>
    </div>
  </div>
</div>
