<div id="about" class="scroll-mt-14">
  <div class="bg-slate-100 dark:bg-gray-800">
    <div
      class="max-w-screen-2xl mx-auto h-auto pt-5 pb-6 px-4 md:px-6 lg:px-10"
    >
      <app-featured-projects></app-featured-projects>
    </div>
  </div>
  <div class="max-w-screen-2xl mx-auto h-auto pt-5 pb-6 px-4 md:px-6 lg:px-10">
    <div data-aos="fade-right">
      <p
        class="font-bold uppercase tracking-widest text-sm text-blue-500 dark:text-yellow-500 mt-5"
      >
        About me
      </p>
      <p
        class="font-bold text-gray-700 text-2xl mt-1 dark:text-gray-200 md:text-3xl"
      >
        Wanna know something interesting about me?
      </p>
    </div>
    <div data-aos="fade-up" class="mb-10 py-1 max-w-5xl">
      <div>
        <p class="mt-3 text-gray-700 leading-8 dark:text-gray-300">
          {{ aboutMe.about_first }}
        </p>
        <p
          (click)="about_me_second.classList.add('line-clamp-3')"
          #about_me_second
          class="mt-4 text-gray-700 leading-8 dark:text-gray-300 line-clamp-3 lg:line-clamp-none"
        >
          {{ aboutMe.about_second }}
        </p>
        <button
          (click)="about_me_second.classList.remove('line-clamp-3')"
          class="text-blue-500 dark:text-yellow-500 mt-1"
          *ngIf="about_me_second.offsetHeight < about_me_second.scrollHeight"
        >
          Read more
        </button>
      </div>
    </div>
    <app-experience [experiences]="aboutMe.experiences"></app-experience>
    <app-certificates [certificates]="aboutMe.certificates"></app-certificates>
  </div>
</div>
