<dialog
  *ngIf="isOpen && selectedProject"
  (click)="closeModal()"
  tabindex="-1"
  class="fixed w-full h-screen top-0 left-0 z-50 bg-gray-950/70 dark:bg-gray-950/50 origin-center flex items-center justify-center"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative w-full max-w-screen-xl h-full min-h-[400px] max-h-[550px] overflow-y-scroll md:overflow-y-hidden rounded-md bg-white dark:bg-slate-800 grid grid-cols-1 md:grid-cols-12 mx-5 sm:mx-10 md:mx-16 md:py-5"
  >
    <div
      class="h-5 w-full bg-white dark:bg-slate-800 sticky top-0 left-0 z-10 md:hidden"
    ></div>
    <div class="md:col-span-6 h-full px-3 pb-3 pt-5 md:pt-3">
      <div
        class="w-full h-full bg-gray-200 dark:bg-slate-800 py-5 md:py-0 px-5 rounded-md flex flex-col items-center justify-center relative overflow-hidden"
      >
        <div
          *ngIf="selectedProject.nda"
          class="absolute top-0.5 left-8 italic text-xs z-10 text-gray-700 dark:text-gray-300"
        >
          Images are redacted due to project confidentiality.
        </div>
        <img
          *ngIf="!selectedThumbnail"
          [src]="
            '../../../../../../assets/featured/' +
            selectedProject.thumbnail_desktop[0]
          "
          [alt]="
            selectedProject.title +
            ' Desktop Thumbnail ' +
            selectedProject.thumbnail_desktop[0]
          "
          class="w-full aspect-auto"
        />
        <img
          *ngIf="selectedThumbnail"
          [src]="'../../../../../../assets/featured/' + selectedThumbnail"
          [alt]="
            selectedProject.title + ' Desktop Thumbnail ' + selectedThumbnail
          "
          class="w-full aspect-auto"
        />
        <ul class="flex items-center justify-normal mt-6 flex-wrap gap-2">
          <li
            *ngFor="let tag of selectedProject.tags"
            class="text-xs rounded-md py-1 px-4 border border-yellow-500 dark:border-blue-600 dark:bg-blue-600/30 bg-yellow-300/10 dark:text-blue-100 text-amber-600"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
    <ul
      tabindex="-1"
      class="md:col-span-2 h-24 md:h-auto bg-white dark:bg-slate-800 overflow-x-scroll md:overflow-x-hidden md:overflow-y-auto flex md:flex-col gap-2 px-3 pt-3 pb-4 md:pb-12"
    >
      <li
        (click)="setSelectedThumbnail(thumbnail)"
        [ngClass]="
          selectedThumbnail === thumbnail || (!selectedThumbnail && i === 0)
            ? 'bg-blue-500 brightness-100'
            : 'bg-slate-900 brightness-50'
        "
        *ngFor="
          let thumbnail of selectedProject.thumbnail_desktop;
          let i = index
        "
        class="w-24 md:w-full aspect-video p-1 hover:brightness-100 hover:bg-blue-600 transition-all duration-500 cursor-pointer"
      >
        <img
          [src]="'../../../../../../assets/featured/' + thumbnail"
          [alt]="selectedProject.title + ' Desktop Thumbnail ' + thumbnail"
          class="w-full aspect-auto"
          loading="lazy"
        />
      </li>
    </ul>
    <div
      class="md:col-span-4 h-full md:overflow-y-auto p-5 w-full text-gray-700 dark:text-gray-300"
    >
      <p class="text-lg font-semibold text-gray-900 dark:text-gray-100 mb-2">
        {{ selectedProject.title }}
      </p>
      <p>{{ selectedProject.description }}</p>
      <hr class="my-3 border-slate-300 dark:border-slate-700" />
      <p class="text-sm font-semibold">Technology Stack</p>
      <ul class="flex items-center justify-start flex-wrap gap-2 mt-2 mb-4">
        <li
          *ngFor="let tech of selectedProject.technologies"
          class="text-xs w-12 aspect-square flex items-center justify-center rounded-md border border-gray-300 dark:border-slate-700 dark:bg-slate-900 bg-gray-100"
        >
          <img
            [hidden]="loading"
            (load)="onLoad()"
            [src]="'../../../../../../assets/images/' + tech"
            [alt]="tech"
            class="w-6 aspect-square pointer-events-none"
            [ngClass]="tech === 'github.svg' ? 'dark:invert' : ''"
          />
          <div
            *ngIf="loading"
            class="h-full w-full flex items-center justify-center"
          >
            <div
              class="animate-spin inline-block w-4 h-4 border-2 border-current border-t-transparent text-blue-600 dark:text-yellow-600 rounded-full"
              role="status"
              aria-label="loading"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </li>
      </ul>
      <hr class="my-3 border-slate-300 dark:border-slate-700" />
      <p class="text-sm font-semibold">Features</p>
      <ul class="flex items-start justify-start flex-col gap-3 mt-2 mb-4">
        <li
          *ngFor="let feature of selectedProject.features"
          class="text-sm w-full flex pl-1 pr-3 py-3 items-center justify-start rounded-md border border-gray-300 dark:border-slate-700 dark:bg-slate-900 bg-gray-100"
        >
          <span
            class="inline-block h-2 aspect-square bg-blue-500 dark:bg-yellow-600 rounded-full mx-2"
          ></span>
          {{ feature }}
        </li>
      </ul>
    </div>
    <div
      class="h-5 w-full bg-white dark:bg-slate-800 sticky bottom-0 left-0 z-10 md:hidden"
    ></div>
    <button
      (click)="closeModal()"
      class="hover:bg-gray-200 bg-gray-100 dark:bg-gray-800 dark:hover:bg-slate-900 dark:hover:text-gray-200 rounded-full text-gray-400 p-2 hover:text-gray-700 fixed lg:absolute border-gray-300 dark:border-slate-600 border top-0 z-20 right-3 -translate-x-1/4 translate-y-1/4"
      aria-label="close dialog"
    >
      <!-- close icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 24 24"
        class="w-5 h-5"
      >
        <path
          fill="currentColor"
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        ></path>
      </svg>
    </button>
  </div>
</dialog>
