<dialog
  *ngIf="isOpen && selectedProject"
  (click)="closeModal()"
  tabindex="-1"
  class="fixed w-full h-screen top-0 left-0 z-50 bg-gray-950/70 origin-center flex items-center justify-center transition-all duration-500"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative w-full max-w-screen-xl h-full min-h-[400px] max-h-[550px] overflow-y-auto rounded-md bg-white grid grid-cols-8 mx-5 sm:mx-10 md:mx-16"
  >
    <div class="col-span-5 h-full p-3">
      <div
        class="w-full h-full bg-gray-200 px-5 rounded-md flex items-center justify-center relative overflow-hidden"
      >
        <img
          *ngIf="!selectedThumbnail"
          [src]="
            '../../../../../../assets/featured/' +
            selectedProject.thumbnail_desktop[0]
          "
          [alt]="
            selectedProject.title +
            ' Desktop Thumbnail ' +
            selectedProject.thumbnail_desktop[0]
          "
          class="w-full aspect-auto"
        />
        <img
          *ngIf="selectedThumbnail"
          [src]="'../../../../../../assets/featured/' + selectedThumbnail"
          [alt]="
            selectedProject.title + ' Desktop Thumbnail ' + selectedThumbnail
          "
          class="w-full aspect-auto"
        />
      </div>
    </div>
    <ul
      class="col-span-1 h-full bg-white overflow-y-auto flex flex-col gap-2 px-3 pt-3 pb-12"
    >
      <li
        (click)="setSelectedThumbnail(thumbnail)"
        [ngClass]="
          selectedThumbnail === thumbnail || (!selectedThumbnail && i === 0)
            ? 'bg-blue-500 brightness-100'
            : 'bg-slate-900 brightness-50'
        "
        *ngFor="
          let thumbnail of selectedProject.thumbnail_desktop;
          let i = index
        "
        class="w-full aspect-video p-1 hover:brightness-100 hover:bg-blue-600 transition-all duration-500 cursor-pointer"
      >
        <img
          [src]="'../../../../../../assets/featured/' + thumbnail"
          [alt]="selectedProject.title + ' Desktop Thumbnail ' + thumbnail"
          class="w-full aspect-auto"
        />
      </li>
    </ul>
    <div class="col-span-2 h-full px-5 pb-5 pt-10 w-full">
      <p>{{ selectedProject.title }}</p>
      <p>{{ selectedProject.description }}</p>
      <ul>
        <li *ngFor="let tag of selectedProject.tags">{{ tag }}</li>
      </ul>
    </div>
    <button
      (click)="closeModal()"
      class="hover:bg-gray-300 rounded-full text-gray-400 p-2 hover:text-gray-700 absolute top-0 right-0 -translate-x-1/4 translate-y-1/4"
      aria-label="close dialog"
    >
      <!-- close icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 24 24"
        class="w-5 h-5"
      >
        <path
          fill="currentColor"
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        ></path>
      </svg>
    </button>
  </div>
</dialog>
